<html>
<header>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<body>
<div id="app">{{ message }}</div>
</body>


<script type="module">
import axios from "https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/esm/axios.min.js";

console.log(
  "todo:",
  (await axios.get("https://jsonplaceholder.typicode.com/todos/1")).data
);
</script>
<script>

  const { createApp, ref } = Vue


  createApp({
    setup() {
      const message = ref('Hello vue!')
      return {
        message
      }
    }
  }).mount('#app')
</script>
</html>